BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 90
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
